/* General Styles */


/* Sponsors Section */
.sponsors-section {
    text-align: center;
     /* Center text inside the section */
    width: 80%;
    height: 350px;
    margin-top: 200px;
    max-width: 1200px;
    margin: 0 auto; /* Center the section horizontally */
}

.sponsors-section h2 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    display: flex;
    align-items: left;
    justify-content: left; /* Center the heading horizontally */
    padding-bottom: 20px;
    padding-top: 40px;
}

.sponsors-section h2 span {
    width: 5px;
    height: 25px;
    background: #FF6F42;
    display: inline-block;
    margin-right: 10px;
}

.sponsors-container {
    display: flex;
    justify-content: center; /* Center the sponsor logos horizontally */
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 20px; /* Add spacing between logos */
    flex-wrap: wrap; /* Allow logos to wrap on smaller screens */
}

.sponsors-container img {
    width: 200px;
    margin-right: 80px;
    filter: grayscale(100%);
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
}

.sponsors-container img:hover {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    .sponsors-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .sponsors-container img {
        width: 120px;
    }
}